.sidebar {
  background-color: #2d62ed;
  padding: 12.5rem 0 5.7rem 1.3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.sidebar > ul {
  margin-bottom: auto;
}

.middle_btn_box {
  padding: 3.9rem 0 4.4rem 0;
}

.theme_btn_box {
  margin-top: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme_btn_box_inner {
  height: 2.6rem;
  width: 5.34rem;
  border: 0.7px solid #dbe9fd;
  padding-top: 0.42rem;
  padding-bottom: 0.32rem;
  border-radius: 1000rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.divider {
  margin-right: 2.3rem;
  height: 0.2rem;
  background-color: #9eb9ff;
}
